---
import { Icon } from '@astrojs/starlight/components';
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import { getCollection } from 'astro:content';

const powershellModules = await getCollection('powershellModules', ({ data }) => {
  return data.type === 'pwsh';
});
const dscModules = await getCollection('powershellModules', ({ data }) => {
  return data.type === 'dsc';
});
---

<StarlightPage frontmatter={{ title: 'Powershell Modules', tableOfContents: false }}>

<h2>Powershell Modules</h2>
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>

  {
    powershellModules.map((module) => (
      <tr>
        <td>
          <span style="display: flex; align-items: center; text-wrap: nowrap;">
            {module.data.name}
            {module.data.externalLink ? (
              <a href={module.data.externalLink} target="_blank"><Icon name='external' size="1rem" /></a>
            ) : ''}
          </span>
        </td>
        <td>{module.data.description}</td>
      </tr>
    ))
  }

</table>

<h2>DSC Modules</h2>
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>

  {
    dscModules.map((module) => (
      <tr>
        <td>
          <span style="display: flex; align-items: center; text-wrap: nowrap;">
            {module.data.name}
            {module.data.externalLink ? (
              <a href={module.data.externalLink} target="_blank"><Icon name='external' size="1rem" /></a>
            ) : ''}
          </span>
        </td>
        <td>{module.data.description}</td>
      </tr>
    ))
  }

</table>

</StarlightPage>